<div id="footer">
	<%= link_to 'Home', home_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to 'About', about_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to 'Contact', contact_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to 'Privacy', privacy_path %><br /><br />
	<div id="copy">
		Webmaster: <%= mail_to("pgollapa@andrew.cmu.edu", "Pavan Gollapalli", encode: "javascript") %> 
		&nbsp;&nbsp;&copy 2017
	</div>
</div>