<div class="container display">
  <p id="notice"><%= notice %></p>

  <h1>Recent Purchases</h1>

  <h5><%= link_to 'New Purchase', new_purchase_path %><h5>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to "#{purchase.item.name}", item_path(purchase.item) %></td>
          <td><%= purchase.quantity %></td>
          <td><%= purchase.date.strftime("%m/%d/%y") %></td>
          <td><%= link_to 'Show', purchase %></td>
          <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
          <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>