<div class="container display">
  <p id="notice"><%= notice %></p>

  <h1>Available Items</h1>

  <% if @items.empty? %>
    <p>There are no items in the system at this time.</p>
  <% else %>
    <h5><%= link_to 'New Item', new_item_path %></h5>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Inventory</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to "#{item.name}", item %></td>
            <td><%= number_to_currency(item.current_price) %></td>
            <td><%= item.category.capitalize %></td>
            <td><%= item.inventory_level %></td>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Inventory</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <h1>Inactive Items</h1>
      <tbody>
        <% @inactive_items.each do |item| %>
          <tr>
            <td><%= link_to "#{item.name}", item %></td>
            <td><%= item.category.capitalize %></td>
            <td><%= item.inventory_level %></td>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
</div>